aiofiles==0.4.0
aiohttp==3.7.4
async-generator==1.10
async-lru==1.0.1
async-timeout==3.0.1
attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
configparser==4.0.2
humanfriendly==7.1.1
humanreadable==0.1.0
idna==2.9
mbstrdecoder==0.8.4
multidict==4.7.5
nest-asyncio==1.2.3
numpy==1.18.1
pandas==1.0.1
pyaes==1.6.1
pyreadline==2.1
Pyrogram===0.16.0.asyncio
PySocks==1.7.0
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
six==1.14.0
TgCrypto==1.2.0
typepy==0.6.5
urllib3==1.25.8
yarl==1.4.2
youtube-data-api==0.0.17
youtube-dl==2020.2.16
